footer.footer
    h2(aria-hidden="true") Pied de page
    section.footer__item.footer-partners
        h3 Nos partenaires
        ul
            li
                a(href="#")
                    img(src="", alt="")
            li
                a(href="#")
                    img(src="", alt="")
            li
                a(href="#")
                    img(src="", alt="")
                    
    section.footer__item.footer-contact
        h3(aria-hidden="true") Informations de contacte
            a.footer-contact__link-contact-form(href="#") Nous contacter
            address.footer-contact__content
                span.footer-contact__content-item Mariam-Faso ASBL
                span.footer-contact__content-item Association sociale
                span.footer-contact__content-item Rue de la gare, 15
                span.footer-contact__content-item 6600 BASTOGNE
                span.footer-contact__content-item.footer-contact__content-iem_icon-phone +32 4 79 21 57 44
                span.footer-contact__content-item.footer-contact__content-iem_icon-email info@mariam-faso.be