a {
    text-decoration: none;
    color: black;
}

[aria-hidden="true"] {
    @include inuit-hidden-visually();
}

.site-title {
    text-transform: uppercase;
    order: 2;
    color: white;
    max-height: 36px;
    font-weight: 600;
    margin-bottom: 0;
    &__logo {
        display: inline-block;
        max-height: 36px;
    }
}