/* ==========================================================================
   #PAGE
   ========================================================================== */


/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
    background: #ffa162;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa162, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa162, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: ($inuit-global-font-size / 16px) * 1em;
    /* [1] */
    font-family: $content-font-stack;
    line-height: $inuit-global-line-height / $inuit-global-font-size;
    /* [1] */
    overflow-y: scroll;
    /* [2] */
    min-height: 100%;
    /* [3] */
}