- var page_title = "Accueil";
doctype html
html(lang="fr")
    include partials/_header
    body
        header
            h1
                a <img src="img/logo.png" alt"">Mariam-Faso
            nav
                h2 Navigation principale
            section
                h2 <span>Dévelopmment,</span> <span>Echange,</span> <span>Solidarité,</span> <span>Education.</span>
                a.cta Découvrir nos projets
        section.wrapper
            
            include partials/_footer
