- var page_title = "Test";
doctype html
html(lang="fr")
    include partials/_header
    body
        div.o-block
            img(src="img/logo.png", alt="alt").o-block__img
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia perspiciatis explicabo officiis, ut quasi iste ducimus, nulla laboriosam quidem recusandae quae autem rem laudantium fuga et. Mollitia assumenda, et id.
            include partials/_footer