.home-events {
    @media screen and (min-width: 768px) {
        display: flex;
    }
    &__featured {
        background: url("../img/featured-event-bcg.jpg");
        height: 300px;
        @media screen and (min-width: 768px) {
            height: auto;
            width: 50%;
        }
    }
    &__nexts {
        display: flex;
        margin: 0;
        flex-direction: column;
        flex-wrap: wrap;
        @media screen and (min-width: 768px) {
            width: 50%;
        }
        &-container {
            //width: 50%;
            //height: 118px;
            
            padding: $inuit-global-spacing-unit-small;
            transition: 0.2s;
            filter: grayscale(100%);
            background: #ffa162;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #ffa162, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #ffa162, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-image: url("../img/fa-arrow-right.svg");
            background-repeat: no-repeat;
            background-position: 110% 50%;
            background-size: 5%;
            transition: 0.2s;
            &:hover {
                background-position: 90% 50%;
                filter: grayscale(0%);
            }
        }
        &-link {
            color: white;
        }
    }
    &__cta-container {
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $inuit-global-spacing-unit-small;
    }
}