.home-events {
    @media screen and (min-width: 768px) {
        display: flex;
    }
    &__featured {
        background: url("../img/featured-event-bcg.jpg");
        height: 300px;
        @media screen and (min-width: 768px) {
            height: auto;
            width: 50%;
        }
    }
    &__nexts {
        display: flex;
        margin: 0;
        flex-direction: column;
        flex-wrap: wrap;
        @media screen and (min-width: 768px) {
            width: 50%;
        }
        &-container {
            //width: 50%;
            //height: 118px;
            padding: $inuit-global-spacing-unit-small;
            transition: 0.2s;
            background-image: url("../img/fa-arrow-right.svg");
            background-repeat: no-repeat;
            background-position: 110% 50%;
            background-size: 5%;
            &:hover {
                box-shadow: 10px 10px 5px #888888;
                background-position: 90% 50%;
            }
            &:first-child {
                background-color: #E5803C;
            }
            &:nth-child(2) {
                background-color: #FFA162;
            }
            &:nth-child(3) {
                background-color: #FFB786;
            }
            &:nth-child(4) {
                background-color: #FFD1B1;
            }
        }
        &-link {
            color: white;
        }
    }
    &__cta-container {
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $inuit-global-spacing-unit-small;
    }
}